$mainColor:rgb(22, 9, 9);
$fontFamily:'Open Sans', sans-serif'Open Sans', sans-serif;
$fontXL: 4rem;
$blanco: rgb(255 255 255);
$fontSm: 1rem;
$fontMd: 2rem;
$fontXL: 3rem;
$colorBoton: rgb(127, 255, 212);
